@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');

body {
	margin:0;
	padding:0;
	font-family: 'Goudy Bookletter 1911', serif;
	background:#efe8d8 url(images/bg-tan.jpg) top center repeat;
}

.container {
	width:800px;
	max-width:95%;
	margin:200px auto 0;
}

.container img {
	max-width:100%;
	height:auto;
}


.logo {
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:60px;
}

.callout {
	font-size:18px;
	text-align:justify;
}

.uppercase {
	text-transform:uppercase;
	font-size:30px;
	line-height:25px;
}


nav {
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

nav ul {
	list-style-type: none;
	padding:0;
	margin:0 0 300px;
}

nav ul li {
	display:inline-block;
}

nav ul li a {
	display:inline-block;
	padding:15px 40px;
	color:black;
	background:#a2b8a3;
	margin-right:5px;
	text-decoration:none;
	text-transform:uppercase;
}

nav ul li a:hover {
	background:#b2c7b3;
}



section {
	margin-bottom:100px;
	margin-top:200px;
}

.section-image {
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

section h2 {
	text-align:center;
	text-transform:uppercase;
	margin-to:0;
	margin-bottom:40px;
	font-size:30px;
}

#media p {
	text-align:center;
	margin-top:0;
	margin-bottom:50px;
	font-style:italic;
}

#contact {
	text-align:center;
}

.credits-image {
	width:150px;
}

a {
	color:#c09a53;
	text-decoration:none;
}

.corner-image {
	position:fixed;
	top:0;
	left:0;
	width:35%;
}
@media screen and (max-width:1025px){
body {
	background: url(images/bg-dark.jpg);
	color: #FFFFFF;
}
}

@media screen and (max-width:769px){
body {
	background: url(images/bg-tan.jpg);
	color: #1D1A07;
}
	.corner-image {
		width:45%;
	}
}



@media screen and (max-width:700px){
nav {
	width:100%;
}
	nav ul li {
		display:block;
	}
	nav ul li a {
		display:block;
		width:100%;
		text-align:center;
		padding-left:0;
		padding-right:0;
		margin-bottom:5px;
		margin-right:0;
	}
	.callout {
		text-align:left;
	}
	
/*
	.corner-image {
		bottom:0;
		right:0;
		top:unset;
		left:unset;
		transform:rotate(180deg);
	}
*/
}
